In [88]:
from dotenv import load_dotenv
load_dotenv()

True

In [89]:
import pandas as pd
import yfinance as yf
import psycopg2
from decouple import config

In [90]:
conn = psycopg2.connect(
    host=config('POSTGRES_HOST'),
    port="5432",
    database="db13f2023",
    user=config('POSTGRES_USER'),
    password=config('POSTGRES_PASSWORD')
)

conn.commit()
cur = conn.cursor()

cur.execute("""
SELECT
	ticker,
	sum(value) AS value_shares
FROM
	"holdings"
INNER JOIN filings
ON
	filings.filing_id = holdings.filing_id
INNER JOIN holding_infos
ON
	holdings.cusip = holding_infos.cusip
WHERE
	cik = '1067983'
GROUP BY
	ticker
ORDER BY
	value_shares DESC;
""")

rows = cur.fetchall()

cur.close()

tickers = [row[0] for row in rows]

tickers_df = pd.DataFrame(tickers, columns=['Ticker'])[:10]

In [130]:
tickers_df

  Ticker
0   AAPL
1    BAC
2    AXP
3     KO
4    CHV
5    OXY
6    KHC
7    DUT
8    7HP
9    TRL

In [110]:
from tradingview_ta import TA_Handler, Interval, Exchange

In [189]:
nyse_symbols = ['BAC', 'AXP', 'KO', 'OXY']

In [190]:
for symbol in nyse_symbols:
    handler = TA_Handler(
        symbol=symbol,
        screener="america",
        exchange="NYSE",
        interval=Interval.INTERVAL_1_WEEK
    )
    print('Stock: ' +symbol)
    print(handler.get_analysis().summary)

Stock: BAC
{'RECOMMENDATION': 'SELL', 'BUY': 5, 'SELL': 14, 'NEUTRAL': 7}
Stock: AXP
{'RECOMMENDATION': 'SELL', 'BUY': 7, 'SELL': 12, 'NEUTRAL': 7}
Stock: KO
{'RECOMMENDATION': 'SELL', 'BUY': 2, 'SELL': 15, 'NEUTRAL': 9}
Stock: OXY
{'RECOMMENDATION': 'STRONG_BUY', 'BUY': 17, 'SELL': 0, 'NEUTRAL': 9}

In [192]:
nasdaq_symbols = ['AAPL', 'KHC']

In [193]:
for symbol in nasdaq_symbols:
    handler = TA_Handler(
        symbol=symbol,
        screener="america",
        exchange="NASDAQ",
        interval=Interval.INTERVAL_1_WEEK
    )
    print('Stock: ' +symbol)
    print(handler.get_analysis().summary)

Stock: AAPL
{'RECOMMENDATION': 'BUY', 'BUY': 15, 'SELL': 3, 'NEUTRAL': 8}
Stock: KHC
{'RECOMMENDATION': 'SELL', 'BUY': 1, 'SELL': 15, 'NEUTRAL': 10}

In [202]:
dow30 = ['MMM', 'AXP', 'AMGN', 'AAPL', 'BA', 'CAT', 'CVX', 'CSCO', 'KO', 'DOW', 'GS', 'HD', 'HON', 'IBM', 'INTC', 'JNJ', 'JPM', 'MCD', 'MRK', 'MSFT', 'NKE', 'PG', 'CRM', 'TRV', 'UNH', 'VZ', 'V', 'WMT', 'DIS', 'WBA']